.App {
  text-align: center;
}

.movies {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

.movie {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
}

.movie img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  list-style: none;
}

.pagination li {
  margin: 0 5px;
}

.pagination li a {
  cursor: pointer;
  padding: 10px 15px;
  border: 1px solid #007bff;
  border-radius: 5px;
  color: #007bff;
  text-decoration: none;
}

.pagination li.active a {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}
